parameters:
    secret: {{ HEXAA_BACKEND_SECRET }}
    kernel.secret: {{ HEXAA_BACKEND_SECRET }}
    shib_auth_username_attribute: eppn
    #shib_auth_username_attribute: eduPersonPrincipalName
    shib_auth_module_attribute: Shib-Application-ID
    #shib_auth_module_attribute: Shib-Application-ID
    shib_attribute_map:
        eppn: eppn
        #eppn: eduPersonPrincipalName
        displayName: displayName
        email: mail
    shib_auth_logout_return_path: homepage
    hexaa_base_uri: {{ HEXAA_BACKEND_URL }}api/
    #hexaa_permissionprefix: 'some:entitlement:prefix:hexaa'
    hexaa_scoped_key: {{ HEXAA_FRONTEND_SCOPED_KEY }}
    # TODO: ansible-role-hexaa-frontend
    invitation_config:
        subject: '[HEXAA] invitation'
        from: {{ HEXAA_BACKEND_FROM_ADDRESS }}
        reply-to: {{ HEXAA_BACKEND_FROM_ADDRESS }}
        footer: 'sincerely: {{ HEXAA_FRONTEND_URL }}'
    mailer_transport:  {{ HEXAA_MAILER_TRANSPORT }}
    mailer_host:       {{ HEXAA_MAILER_HOST }}
    mailer_port:       {{ HEXAA_MAILER_PORT }}
    mailer_user:       {{ HEXAA_MAILER_USER }}
    mailer_password:   {{ HEXAA_MAILER_PASSWORD }}

    sentry_dsn:        {{ SENTRY_DSN }}
